*{
margin: 0;
padding: 0;
}
html , body {
    height: 100%;
    width: 100%;
}

.container{
    height: 500px;
    width: 400px;
    background-color: #111;
}
button{
    height: 40px;
    width: 40px;
    background: #111;
    color: white;
    border: 2px solid white;
    border-radius: 50%;
    /* padding: 5px; */
}
p{
    color: white;
}

dark{
    color: rgb(109, 109, 109);
}